<h1>Log In</h1>
<%= current_user.name if current_user%>
<%= form_for :login do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
  <br>
  <br>
    <%= f.submit 'Log In' %>
  </div>
<% end %>
<br>
<%= link_to "<button>Authenticate with Facebook!</button".html_safe, "/auth/facebook" %> <%= link_to "<button>Back</button>".html_safe, users_path %>

