<h1>Log In</h1>
<%= current_user.name if current_user%>
<%= form_for :login do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
  <br>
  <br>
    <%= f.submit "Log Me In!", class: "btn btn-sm btn-info" %>
  </div>
<% end %>
<br>


<%#= link_to "Sign in via Facebook!", "/auth/facebook", class: "btn btn-sm btn-info" %>  
<%= link_to "Back", users_path, class: "btn btn-sm btn-info" %>

